body {
    background-color: #ffc4e7;
    background-image: url(/img/cotton_candy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    background-color:white;
}
footer{
    background-color:white;
}
a.navbar-brand {
    color: #ffc4e7;
}
.navbar-light .navbar-brand{
    color:#ff67cb;
}
.navbar-light .navbar-nav .nav-link {
    color: #ff67cb;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
main h1{
    color:white;
}
dd img{
    max-width:300px;
    max-height:300px;
}
dt{
    max-height:100px;
}